﻿@model ComputerAccessories.ViewModels.RegisterViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Registration Page</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/iCheck/square/blue.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="../../index2.html"><b>ĐĂNG KÝ TÀI KHOẢN</b></a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg" style="font-size:14px;">Đăng ký thành viên mới</p>
            <br />
            <text class="text-danger" id="validation">@ViewBag.Error</text>
            <form asp-action="SignUp" method="post" enctype="multipart/form-data" id="__AjaxAntiForgeryForm">
                @Html.AntiForgeryToken()
                <div class="form-group has-feedback">
                    <input type="text" id="fullname" asp-for="FullName" class="form-control" required placeholder="Họ và tên">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                @*<div class="form-group has-feedback">
            <input type="text" id="username" asp-for="UserName" class="form-control" required placeholder="Tên đăng nhập">
            <span class="glyphicon glyphicon-th-large form-control-feedback"></span>
        </div>*@
                <div class="form-group has-feedback">
                    <input type="email" id="email" asp-for="Email" class="form-control" required placeholder="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="tel" class="form-control" id="phonenumber" asp-for="PhoneNumber" required placeholder="Số điện thoại">
                    <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" id="Pwd" asp-for="Password" required placeholder="Mật khẩu" pattern=".{8,}">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" id="confirmPwd" oninput="checkPwd()" required placeholder="Nhập lại mật khẩu">
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> I agree to the <a href="#">terms</a>
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button class="btn btn-primary btn-block btn-flat" id="submit" @*type="submit"*@>Đăng ký</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i> Sign up using
                    Facebook
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i> Sign up using
                    Google+
                </a>
            </div>

            <a asp-controller="Account" asp-action="SignIn" class="text-center">Tôi đã có tài khoản</a>
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery 3 -->
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/plugins/iCheck/icheck.min.js"></script>

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
    <script>
        function checkPwd() {
            var data = $("#confirmPwd").val();
            var pwd = $('#Pwd').val();
            if (data != pwd) {
                $('#validation').text("Mật khẩu không trùng khớp với nhau");
                $('#submit').attr("disabled", true);
            } else {
                $('#validation').empty();
                $('#submit').attr("disabled", false);
            }
        }
         //$('#submit').click(function (e) {
         //    debugger;
         //    var form = $('#__AjaxAntiForgeryForm');
         //    var token = $('input[name="__RequestVerificationToken"]', form).val();
         //       e.preventDefault();
         //       if ($('#fullname').val().trim() == "") {
         //               $("#validation").text("*Vui lòng nhập họ và tên của bạn");
         //           $('#fullname').focus();
         //           return;
         //       }
         //       if ($('#username').val().trim() == "") {
         //               $("#validation").text("*Vui lòng nhập tên đăng nhập của bạn");
         //           $('#username').focus();
         //           return;
         //       }

         //       if ($('#email').val().trim() == "") {
         //           $("#validation").text("*Vui lòng nhập Email của bạn");
         //       $('#email').focus();
         //       return;
         //       }

         //       if ($('#phonenumber').val().trim() == "") {
         //                   $("#validation").text("*Vui lòng nhập Email của bạn");
         //               $('#phonenumber').focus();
         //               return;
         //           }

         //       if ($('#Pwd').val().length < 8) {
         //               $("#validation").text("*Mật khẩu phải có ít nhất 8 ký tự");
         //           $('#Pwd').focus();
         //           return;
         //       }

         //       if ($('#Pwd').val() != $('#confirmPwd').val()) {
         //           $("#validation").text("*Nhập lại mật khẩu không chính xác");
         //       $('#Pwd').text("");
         //       $('#confirmPwd').text("");
         //       return;
         //           }
         //       var data = {
         //           FullName: $('#fullname').val(),
         //           UserName: $('#username').val(),
         //           Email: $('#email').val(),
         //           PhoneNumber: $('#phonenumber').val(),
         //           Password: $('#Pwd').val()
         //       }

         //    $.ajax({
         //        //url: "/Customer/Account/SignUpPost?FullName=" + $('#fullname').val()
         //        //    + "&UserName=" + $('#username').val() + "&Email=" + $('#email').val() +
         //        //    "&PhoneNumber=" + $('#phonenumber').val() + "&Password="+$('#Pwd').val()+"",
         //        url: "/Account/SignUpPost",
         //        type: "get",
         //        dataType: "json",
         //        data: {
         //            __RequestVerificationToken: token,
         //            data: JSON.stringify(data)
         //        },
         //           contentType:"application/json",
         //           success: function (result) {

         //           },
         //                       error: function (err) {
         //               console.log(err);
         //       }
         //               });

         //});
    </script>
    <script src="~/js/AccountValidate.js" type="text/javascript"></script>
</body>
</html>
