﻿@model int

     @{
         string model = Model.ToString();
         string edit = @"Edit" + @ViewBag.controller+@"/"+model;
         string delete = @"Delete" + @ViewBag.controller+@"/"+model;


      }


        <div class="btn-group" role="group" style="height:44px; ">
            <a type="button" class="btn btn-success" href="@Url.Action(edit).Replace("%2F",@"/")"><i class="fa fa-edit"></i></a>
            <a type="button" class="btn btn-danger" href="@Url.Action(delete).Replace("%2F",@"/")" onclick="$('.top-alert').notify('Delete success', {position: 'top center'});"><i class="fa fa-remove"></i></a>
        </div>
  