﻿@model List<ComputerAccessories.ViewModels.AccountViewModel>
@{
    ViewData["VTitle"] = "AccountManager";
    Layout = "~/Views/Admin/_Layout.cshtml";
}


<div class="page-header">
    <div class="row">
        <div class="col-lg-10">
            <h3>Danh sách tài khoản</h3>
        </div>
        <div class="col-lg-1">
            <a class="btn btn-default" asp-area="Admin" asp-controller="MainService" asp-action="CreateNewUser"><span><i class="fa fa-plus"></i></span> Thêm brand mới</a>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Hover Data Table</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead style="color:darkcyan">
                        <tr>
                            <th>Mã</th>
                            <th>Họ tên</th>
                            <th>Email</th>
                            <th>Ngày tạo </th>
                            <th>Vai trò</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>
                                    <a href="#">@item.Id</a>
                                </th>
                                <th>@item.DisplayName</th>
                                <th>@item.Email</th>
                                <th>@item.CreatedDate</th>
                                <th>@item.RoleName</th>
                                <th>@item.IsActivated</th>
                                <th>
                                    <partial name="~/Views/Shared/_TableButtonPartial.cshtml" model="@item.Id" />
                                </th>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                            <tr>
                                <th>Rendering engine</th>
                                <th>Browser</th>
                                <th>Platform(s)</th>
                                <th>Engine version</th>
                                <th>CSS grade</th>
                                <th></th>
                            </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>

</div>

