﻿@model List<ComputerAccessories.Models.TblBrand>
@{
    ViewData["Title"] = "Branch";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<link rel="stylesheet" href="~/font-awesome/font-awesome/css/font-awesome.css" />

<div class="page-header">
    <div class="row">
        <div class="col-lg-10">
            <h3>Danh mục brand</h3>
        </div>
        <div class="col-lg-1">
            <a class="btn btn-default" asp-area="Admin" asp-controller="MainService" asp-action="CreateNewBrand"><span><i class="fa fa-plus"></i></span> Thêm brand mới</a>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Hover Data Table</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead style="color:darkcyan">
                        <tr>
                            <th>Mã</th>
                            <th>Tên brand</th>
                            <th>Logo</th>
                            <th>Ngày tạo </th>
                            <th>Ngày chỉnh sửa</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.Id</th>
                                <th>@item.BrandName</th>
                                <th>
                                    <img src="~/image/@item.Logo"/>
                                </th>
                                <th>@item.CreatedDate</th>
                                @if (item.ModifiedDate == null)
                                {
                                    <th></th>
                                }
                                else
                                {
                                    <th>@item.ModifiedDate</th>
                                }
                                <th style="text-align:center;">
                                    <partial name="~/Views/Shared/_TableButtonPartial.cshtml" model="item.Id" />
                                </th>

                            </tr>
                        }
                    </tbody>
                    @*<tfoot>
                            <tr>
                                <th>Rendering engine</th>
                                <th>Browser</th>
                                <th>Platform(s)</th>
                                <th>Engine version</th>
                                <th>CSS grade</th>
                            </tr>
                        </tfoot>*@
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>

</div>

