﻿@using ComputerAccessories.Extensions;
@model ComputerAccessories.ViewModels.CategoryViewModel
@{
    ViewData["Title"] = "CreateNewCategory";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<br />
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Thêm danh mục sản phẩm</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post" action="CreateNewCategory">
                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tên danh mục</label>
                        <input class="form-control" placeholder="Nhập tên danh mục" asp-for="CategoryName">
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Danh mục cha</label>
                        @*<input class="form-control" placeholder="Nhập tên danh mục" asp-for="CategoryName">*@
                        @*<select class="form-control">
                            @foreach (var item in categories)
                            {
                                <option value="@item.Id">@item.CategoryName</option>
                            }
                        </select>*@

                        <select asp-for="ParentCateId" asp-items="@Model.listParent.ToSelectListItem("CategoryName",Model.Id)" class="form-control"></select>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Tạo</button>
                </div>
            </form>
        </div>


