﻿@using ComputerAccessories.Extensions
@model ComputerAccessories.ViewModels.CategoryViewModel
@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Views/Admin/_Layout.cshtml";
    List<TblCategory> categories = new List<TblCategory>();
    categories = ViewBag.lstCategory;
}
<br />

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Chỉnh sửa danh mục sản phẩm</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" method="post" action="EditCategory">
            <input hidden asp-for="Id" />
            <div class="box-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Tên danh mục</label>
                    <input class="form-control" placeholder="Nhập tên danh mục" asp-for="CategoryName">
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Danh mục cha</label>
                    @*<input class="form-control" placeholder="Nhập tên danh mục" asp-for="CategoryName">*@
                    @*<select class="form-control" name="parentId" id="parentId">
                    @foreach (var item in categories)
                    {
                        <option asp-for="@Model.ParentCateId" value="@item.Id">@item.CategoryName</option>
                    }
                </select>*@
                    <select asp-for="ParentCateId" asp-items="@Model.listParent.ToSelectListItem("CategoryName",Model.Id)" class="form-control"></select>

                </div>
            </div>

            <div class="box-body">
                <label>Created Date:</label>

                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" asp-for="CreatedDate" class="form-control pull-right" id="datepicker" readonly>
                </div>
                <!-- /.input group -->
            </div>

            <div class="box-body">
                <label>Last Modify:</label>

                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" asp-for="ModifiedDate" readonly class="form-control pull-right" id="datepicker">
                </div>
                <!-- /.input group -->
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <a class="btn btn-success" asp-action="Category">Quay lại</a>
            </div>
        </form>
    </div>

