﻿@model ComputerAccessories.Models.TblBrand
@{
    ViewData["Title"] = "EditBrand";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<br />
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Sửa Brand </h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form role="form" method="post" asp-action="EditBrand" enctype="multipart/form-data">
        <div class="box-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Tên Brand</label>
                <input class="form-control" placeholder="Nhập tên Brand" asp-for="BrandName">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Upload Logo</label>
                <input class="form-control" type="file" name="files">
            </div>

            <div class="form-group">
                <img src="~/image/@Model.Logo"/>
            </div>
        </div>

        <!-- /.box-body -->

        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Sửa</button>
        </div>
    </form>
</div>

